

.treeElement {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.textSpace {
    position: relative;
    width: 100%;
    text-align: center;
}

.textSpace div {
    display: inline-block;
    background: #e2eaf4;
    padding: 4%;
}

.treeElement:not(:first-child) {
    flex: 1;
}

.emptyDiv {

}